.card__body {
	width: 100%;
	padding: 0 20px;
}

.card__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 20px;
	@media (max-width: 560px) {
		display: none;
	}
	h2 {
		font-family: "Syne", sans-serif;
	}

	img {
		width: 50px;
		height: 50px;
		@media (max-width: 530px) {
			width: 30px;
			height: 30px;
		}
	}
}

.card__stats {
	font-family: "DM Sans", sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 10px;
	column-gap: 10px;
	margin: 2rem 0rem;
	@media (max-width: 970px) {
		grid-template-columns: 1fr;
	}
	@media (max-width: 560px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.card__tile {
	padding: 10px;
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(9.5px);
	-webkit-backdrop-filter: blur(9.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);

	p {
		font-weight: 600;
	}
}

.card__price {
	margin: 30px 20px;
	p {
		font-family: "Syne", sans-serif;
		font-size: 1.5rem;
	}
	span {
		font-family: "DM Sans", sans-serif;
	}
}
